.DescartesSpinnerContainer {
  border-radius: 5px;
}

.DescartesSpinnerContainer > canvas {
  display: none;
}

.DescartesSpinnerContainer > .up {
  background: #ffa500 url("arriba.png") no-repeat center !important;
}
.DescartesSpinnerContainer .down {
  border-top: 1px solid white;
  background: #ffa500 url("abajo.png") no-repeat center !important;
}

.DescartesSpinnerContainer .up:hover, .DescartesSpinnerContainer .down:hover {
  background-color: #e78a00 !important;
}
.DescartesSpinnerContainer .up:active, .DescartesSpinnerContainer .down:active {
  background-color: #cc7800 !important;
}
